{% extends "index.html" %}
{% block content %}
<h1>Seja bem-vindo, {{ usuario }}</h1>
<div class="adminDashboard">
    <ul>
        <li><a href="#"><button>Gerenciar Alunos</button></a></li>
        <li><a href="#"><button>Gerenciar Pagamentos</button></a></li>
        <li><a href="{% url 'turmasDashboard' %}"><button>Gerenciar Turmas</button></a></li>
        <li><a href="#"><button>Visualizar Relatórios </button></a></li>
        <li><a href="{% url 'logout' %}"><button>Logout</button></a></li>
    </ul>
</div>
{% endblock content %}