{% extends "index.html" %}
{% block inicio %}
<a href="{% url 'adminDashboard' %}"><i class="fas fa-home"></i> Início</a>
<a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>

{% endblock inicio %}
{% block content %}

<div class="registrarForm">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ perfil.usuario.username }}" required>

        <label for="nome_escola">Nome da Escola:</label>
        <input type="text" name="nome_escola" value="{{ perfil.nome_escola }}" required>

        <label for="email">Email:</label> 
        <input type="email" name="email" value="{{ perfil.email }}" required>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" value="{{ perfil.senha }}" required>
    
        <button type="submit">Salvar</button>
    </form>
    
</div>

{% endblock content %}

<!--   <h2 style="margin: 20px;">Função PIX(Opcional):</h2>  -->