{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Gestão Escolar</title>
</head>

<body>
    <nav>
        {% block inicio %}<a href="{% url 'home' %}"><i class="fas fa-home"></i> Início</a>{% endblock inicio %}
        <a href="#Sobre"><i class="fas fa-info-circle"></i> Sobre</a>
        <a href="#">Configurações</a>
        <a href="#">Sair</a>
    </nav>
    <main>
        {% block content %}
      <div>
        <h2>Bem-vindo ao Sistema de Gestão Escolar</h2>
        <p>Aqui você pode gerenciar todas as operações administrativas da sua escola de forma prática e eficiente.</p>
        <div class="comece">
            <h2>Faça o login ou Crie sua conta!</h2>
            <p>Seja bem-vindo ao Gestão Escolar! Para comecar, clique no botão "Começar" logo abaixo.</p>
            <div style="display: flex; justify-content: center; margin-top: 20px;">
            <a href="/login/"><button class="blueButton">Começar</button></a></div>
        </div>
       <!-- <div class="Sobre">
            <h2>Sobre o Sistema</h2>
             <p>Bem-vindo ao Sistema de Gestão Escolar, uma plataforma desenvolvida para transformar a maneira como as
                escolas gerenciam suas operações diárias. Nosso objetivo é fornecer uma solução prática, eficiente e
                intuitiva para atender às necessidades de instituições de ensino de todos os tamanhos.

                Com nosso sistema, você pode:

                Organizar informações de alunos, professores e turmas em um único lugar.
                Simplificar processos administrativos e acadêmicos.
                Garantir maior agilidade e precisão no controle de dados escolares.

                Nosso compromisso é ajudar escolas a focarem no que realmente importa: a educação de qualidade.
                Trabalhamos continuamente para oferecer as melhores ferramentas e funcionalidades para facilitar o seu
                dia a dia.

                Junte-se a nós nessa jornada de inovação e excelência na gestão escolar!</p> 
        </div>-->
        <!-- <div class="card1"style="display: flex; justify-content: left;">
            <div class="primeiroCard">
                <div class="card2">
                  <p class="card2__title">Quais são as vantagens?</p>
                  <p class="card2__paragraph"><p>Bem-vindo ao Sistema de Gestão Escolar, uma plataforma desenvolvida para transformar a maneira como as
                    escolas gerenciam suas operações diárias. Nosso objetivo é fornecer uma solução prática, eficiente e
                    intuitiva para atender às necessidades de instituições de ensino de todos os tamanhos.</p>
                </div>
              </div> 
        </div>-->


        <!--  ----------------------- COMEÇO DO NOVO CARD -------------------------  --> 
        <div class="card" style="margin-bottom: 30px;">
          <p class="parte_esquerda" style="display:flex; font-size: 20px ; text-align: left; margin-left: 10rem;">Conheça nossa aplicação!</p>
            <div class="card__border"></div>
            <div class="card_title__container">
              <span class="card_title">Quais são as vantagens?</span>
              <p class="card_paragraph" style="font-size: 18px;">Tenha uma variedade de ferramentas para gerir sua escola!</p>
            </div>
            <hr class="line" />
            <ul class="card__list">
              <li class="card__list_item">
                <span class="check">
                  <svg
                    class="check_svg"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </span>
                <span class="list_text" style="text-align: right; font-size: 30px;">Monitore as finanças da sua escola!</span>
              </li>
              <li class="card__list_item">
                <span class="check">
                  <svg
                    class="check_svg"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </span>
                <span class="list_text">Receba alertas importantes no seu feed!</span>
              </li>
              <li class="card__list_item">
                <span class="check">
                  <svg
                    class="check_svg"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </span>
                <span class="list_text">Fique por dentro de todas as movimentações!</span>
              </li>
              <li class="card__list_item">
                <span class="check">
                  <svg
                    class="check_svg"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </span>
                <span class="list_text">Gerencie seus alunos com facilidade!</span>
              </li>
              <li class="card__list_item">
                <span class="check">
                  <svg
                    class="check_svg"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </span>
                <span class="list_text">Tenha auxílio contra a inadiplência!</span>
              </li>
            </ul>
            <div style="display: flex; justify-content: center;">
            <a href="/registrar/"><button class="buttonAcesso">Garanta já seu Acesso!</button></a></div>
          </div>
      </div>
      
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Gestão Escolar. Todos os direitos reservados.</p>
    </footer>
</body>
</html>