{% extends "index.html" %}


{% block content %}


    <form method="post" class="login" action="{% url 'login' %}">
        <h2>Login</h2>
        {% csrf_token %}
        <label for="username" class="usuario-label">Usuário:</label>
        <input type="text" name="nome" placeholder="Nome de Usuário" style="margin-top: 5%; font-size: 15px">
        <br>
        <label for="password" style="font-size: 20px">Senha: </label>
        <input type="password" name="senha" placeholder="Senha" style="font-size: 15px">
        <br>
        <button class="loginButton" style="font-size: 20px">Entrar</button>
    </form>

    <div style="padding-top: 20px; font-size: 120%;"
        <h2>Não possui conta?<a href={% url "registrar" %}> Registre-se</a></h2>

    <div>
        <a href="{% url "home" %}"><button class="blueButton"> Voltar</button></a></div>
{% endblock content %}