{% extends "index.html" %}
{% block inicio %}
    <a href="{% url 'adminDashboard' %}"><i class="fas fa-home"></i> Início</a>
    <a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>
{% endblock inicio %}
{% block content %}
<div class="pagamento_options">

        <button onclick="mostrarTabela('atraso')">Em Atraso</button>
        <button onclick="mostrarTabela('aberto')">Em Aberto</button>
        <button onclick="mostrarTabela('pago')">Pago</button>
    
</div>

<div id="tabela-atraso" class="tabela-mensalidades" style="display: none;">
    <h2>Mensalidades em Atraso</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Mês</th>
                <th>Valor</th>
                <th>Data de Vencimento</th>
                <th>Data do Pagamento</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for mensalidade in mensalidades_atraso %}
            <tr>
                <td>{{ mensalidade.aluno.nome }}</td>
                <td>{{ mensalidade.mes }}</td>
                <td>{{ mensalidade.valor }}</td>
                <td>{{ mensalidade.dia_pagamento }}</td>
                <td>{{ mensalidade.dia_pagamento_realizado }}</td>
                <td>{{ mensalidade.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="tabela-aberto" class="tabela-mensalidades" style="display: none;">
    <h2>Mensalidades em Aberto</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Mês</th>
                <th>Valor</th>
                <th>Data de Vencimento</th>
                <th>Data do Pagamento</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for mensalidade in mensalidades_aberto %}
            <tr>
                <td>{{ mensalidade.aluno.nome }}</td>
                <td>{{ mensalidade.mes }}</td>
                <td>{{ mensalidade.valor }}</td>
                <td>{{ mensalidade.dia_pagamento }}</td>
                <td>{{ mensalidade.dia_pagamento_realizado }}</td>
                <td>{{ mensalidade.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="tabela-pago" class="tabela-mensalidades" style="display: none;">
    <h2>Mensalidades Pagas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Mês</th>
                <th>Valor</th>
                <th>Data de Vencimento</th>
                <th>Data do Pagamento</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for mensalidade in mensalidades_pagas %}
            <tr>
                <td>{{ mensalidade.aluno.nome }}</td>
                <td>{{ mensalidade.mes }}</td>
                <td>{{ mensalidade.valor }}</td>
                <td>{{ mensalidade.dia_pagamento }}</td>
                <td>{{ mensalidade.dia_pagamento_realizado }}</td>
                <td>{{ mensalidade.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function mostrarTabela(status) {
        // Esconde todas as tabelas
        const tabelas = document.querySelectorAll('.tabela-mensalidades');
        tabelas.forEach(tabela => tabela.style.display = 'none');

        // Mostra a tabela correspondente ao status
        document.getElementById(`tabela-${status}`).style.display = 'block';
    }
</script>
<a href="{% url 'adminDashboard' %}"><button>Voltar</button></a>
{% endblock content %}

