{% extends "index.html" %}
{% block inicio %}
    <a href="{% url 'adminDashboard' %}"><i class="fas fa-home"></i> Início</a>
    <a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>
{% endblock inicio %}
{% block content %}

<head>
    <title>Página de Perfil</title>

</head>
<body>

    <div class="perfil_content">
        
    </div>

</body>
</html>


{% endblock content %}


{% comment %} 
perfil pra criar uma escola,
nome da escola
cnpj
responsável(usuário)
Telefone
OK
{% endcomment %}