{% extends "index.html" %}
{% block content %}

<h1 class="h3 mb-3">Lista de Turmas</h1>

<ul>
    {% for turma in turmas %}
        <li>
            <button><a href="{% url 'turmaDetalhes' turma.id %}">{{ turma.nome }}</a></button>
        </li>
    {% endfor %}
</ul>

<h2 class="h5 mb-3">Adicionar Nova Turma</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
<a href="{% url 'adminDashboard' %}"><button>Voltar</button></a>
{% endblock %}
